---
title: The About page
layout: base.njk
---

<div class="container">
  <h1>About page of Jamstack Site</h1>
  <p> It was made for you using HTML, CSS and JavaScript. All served as a Jamstack site. </p>
</div>
