---
title: A very special page for you!
layout: base.njk
---

<div class="container">
  <h1>A Jamstack Site</h1>
  <div class="vibe"> You are great! </div>
  <div class="love">
    <p>It's a very special page just for you.</p>
    <p>Thank you for using our application!</p>
</div>
</div>
<script src="js/index.js"></script>
