---
title: A very special page for you!
layout: base.njk
---

<div class="container">
  <h1>A Jamstack Site</h1>
  <div class="vibe"> You are great! </div>
  <div class="love">
    <p>It's a very special page just for you.</p>
    <p>Thank you for using our application!</p>
  </div>
  <ul>
    {% for article in news.articles %}
      <li> <h2> <a href={{ article.url }}>{{ article.title }}</a></h2> </li>
    {% endfor %}
  </ul>
</div>
<script src="js/index.js"></script>
